body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: left;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    background-color: #333;
    color: #ffffff;
    display: block;
    font-size: 18px;
    padding: 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #444;
  }
  
  main {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  section {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    display: none;
    padding: 20px;
    width: 50%;
  }
  
  section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section input[type="text"],
  section input[type="password"] {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
  }

  select{
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
  }

  section input[type="date"],
  section input[type="number"]{
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    width: 40%;
  }

  section button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }

  section input[type="submit"],
  section input[type="reset"]{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  
  section input[type="submit"]:hover,
  section input[type="reset"]:hover,
  section button[type="submit"]:hover {
    background-color: #444;
  }

  section button[type="register"] {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  
  section button[type="register"]:hover {
    background-color: #444;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem
  }

  input {
    font-size: 1rem;
  }
  
  .games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
  }

  .game {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
  }

  .game > header {
    margin-bottom: .25rem;
  }
  
  .game > summary {
    font-size: .8rem;
    color: #777
  }

  .hide {
    display: none;
  }

  
  
